<div class="wishes-container flex flex-col">
  <wedding-header></wedding-header>
  <div class="mt-6">
    <h1 class="font-mono text-xl">Se parte de nuestra historia</h1>
    <h2 class="font-mono mb-4 align-text-center">déjanos tus deseos/consejos</h2>

    <div class="flex items-center justify-center mb-4">
      <svg class="mr-1 w-6 h-6 text-green-800 dark:text-green-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
      </svg>
      <a routerLink="/wishes-list" class="font-mono text-xl dark:text-purple-950 hover:underline">
        Deseos enviados
      </a>
      <svg class="ml-1 w-6 h-6 text-green-800 dark:text-green-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
      </svg>
    </div>

    <form class="form-container" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend>Personal</legend>

        <label for="name">
         <span>Nombre</span>
          <input type="text" id="name" formControlName="name" maxlength="100" />
        </label>
        <label for="phone">
          <span>Telefono</span>
          <input type="tel" id="phone" formControlName="phone" maxlength="100" />
        </label>
        <label for="created">
          <span>Fecha</span>
          <input type="date" id="created" formControlName="created" maxlength="100" />
        </label>
      </fieldset>
      <fieldset>
        <legend>Tus deseos</legend>
        <label for="message">
          <span>Mensaje</span>
          <textarea id="message" formControlName="message" class="textarea-field"></textarea>
        </label>
        <label>
          <span> </span>
          <input type="submit" value="Enviar" />
        </label>
      </fieldset>
    </form>
  </div>

  <div [ngClass]="isModalOpen() ? 'block' : 'hidden'">
    <div class="fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center">
      <div class="bg-white dark:bg-gray-900 dark:text-gray-100 p-8 rounded-lg shadow-lg max-w-md w-full relative">
        <h2 class="text-2xl font-bold mb-4">Enviado</h2>
        <p class="mb-6">Tus deseos se han guardado y enviado a los Novios</p>
        <button class="absolute top-2 right-2 text-gray-600 hover:text-gray-900" (click)="closeModal()">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" class="size-6 text-gray-600" stroke-linejoin="round" stroke-width="2" d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
          </svg>
        </button>
        <button class="bg-red-500 text-white px-4 py-2 rounded" (click)="closeModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
