<section class="home">
  <div class="ml-24 w-9/12">
    <h1 class="font-mono mb-2 text-xl">Nuestra Historia</h1>
    <p class="font-serif text-lg italic leading-loose">
      En el año 1993  época de la preparatoria, Monica durante un evento cívico ve por primera vez a Rafael que se encontraba castigado y que
      se distinguía por encontrarse fuera de la formación de su grupo.
      Días después Rafael y Monica se encuentran frente a frente en las
      escaleras del colegio, es ahi donde Rafael por primera vez mira a Monica, en ese instante ella se sonroja y los nervios le ganan, mientras
      Rafael, cautivado no para de mirarla y sonreírle.
      Es cuando Rafael decide ir por Moni y conocerla, por lo que un tiempo
      después el en un acto atrevido se mete al salon de Moni y va por ella, diciéndole tu eres para mi. Es el inicio de todo…
    </p>
  </div>
</section>
