.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 280px;
}



//.loader_bg {
//  background: url("public/assets/images/banner2.jpg");
//  background-size: cover;
//}
