<!-- our plane -->
<main>
  <section class="title font-mono mb-4 text-xl flex flex-col items-center">
    <img ngSrc="/assets/images/ring.png" width="50" height="30" priority />
    <h2 class="text-2xl mb-4">Nuestro Viaje</h2>
    <span class="font-serif text-1xl">Una colección de nuestro viaje juntos convertida en fotos </span>
  </section>

  <section class="travel">
    <article>
      <img
        ngSrc="/assets/images/travel.jpeg"
        width="300"
        height="200"
        sizes="(max-width: 768px) 100vw, 50vw"
        priority
        class="cursor-pointer"
        routerLink="/plane-gallery"
        [queryParams]="{title: 'Viajes'}"
      />
      <h3 class="font-semibold">Restaurantes</h3>
      <p>Nuestras visitas a restaurantes en ocasiones <br/>
        solos y otros acompañados de la familia</p>
    </article>

    <article>
        <img
          ngSrc="/assets/images/plane.png"
          width="300"
          height="200"
          sizes="(max-width: 768px) 100vw, 50vw"
          priority
          class="cursor-pointer"
          routerLink="/plane-gallery"
          [queryParams]="{title: 'Restaurants'}"
        />
      <div class="text-center">
        <h3 class="font-semibold">Playa</h3>
        <p>De patitas de perro por varias <br/>
          partes de nuestro México </p>
      </div>
    </article>

    <article>
      <img
        ngSrc="/assets/images/restaurante.jpeg"
        width="300"
        height="200"
        sizes="(max-width: 768px) 100vw, 50vw"
        priority
        class="cursor-pointer"
        routerLink="/plane-gallery"
        [queryParams]="{title: 'Playa'}"
      />
      <div class="text-center">
        <h3 class="font-semibold">Convivencias</h3>
        <p>Un catalogo de nuestras convivencias <br/>
          familiares y de amigos</p>
      </div>
    </article>
  </section>
</main>
<!-- our plane -->
