
<header>
    <section>
      <a routerLink="/wedding">
        <h1>Rafa + Moni</h1>
      </a>
    </section>

    @for (menu of menuList; track $index) {
      <div>
        <svg
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6 mr-2"
        >
          <path
            [attr.d]="menu.path1"
          />
          <path
            fill-rule="evenodd"
            [attr.d]="menu.path2" clip-rule="evenodd"
          />
        </svg>
        <a routerLink={{menu.link}} routerLinkActive="page active">
          {{menu.name}}
        </a>
      </div>
    }
</header>
