<!-- groomsmen -->
<div class="groomsmen">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="titlepage">
          <h2>Groomsmen</h2>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t dolor in reprehenderit in voluptate </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="brid text_align_center">
          <figure><img src="images/ber_img.jpg" alt="#"/></figure>
          <h3> Padrinos </h3>
        </div>
      </div>
      <div class="col-md-4 margin_top70">
        <div class="brid text_align_center">
          <figure><img src="images/ber_img1.jpg" alt="#"/></figure>
          <h3> Padrinos </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- groomsmen -->
